* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: coral;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    margin: 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}

form input {
    border: 2px solid lightcoral;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    height: 3rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.select-container img {
    display: flex;
}

.select-container select {
    font-size: 1.2rem;
    cursor: pointer;
}

.msg {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

form button {
    height: 3rem;
    background-color: lightcoral;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    cursor: pointer;
}